.* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}


/* Phone size first size
@media screen and (max-width:320px)
{
    body
    {
        margin: 0px;
        padding: 0px;
        font-size: 40%;
        background-color: blue;
    }

    h1
    {
        font-size: 2em;
    }

    p
    {
        font-size: 1em;
    }
}*/

/* Second size
@media screen and (min-width:320px) and (max-width:480px)
{


}
*/

/* thirth size
@media screen and (min-width:480px) and (max-width:800px)
{

}
*/

/* Fourth size
@media screen and (min-width:800px) and (max-width:1200px)
{

}
*/

    /*  -----------------------------------------------------------------------------------  */


/* fifth size */
@media screen and (min-width:1200px) {

    /* beging the min-width:1200px configuration*/
    /* Beging the global body configurations */
    body#inicio {
        margin: 0px;
        padding: 0px;
        background-image: url(../image/karl-pawlowicz-QUHuwyNgSA0-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        font-size: 100%;
    }

    /* Finish the global body configurations*/


    /* Beging the navigation bar configurations*/
    /* Beging the header (global navigation bar) configurations*/
    .header {
        position: fixed;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0px;
        padding: 0px;
        width: 90%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        z-index: 1;
    }
    /* Finish the header (global navigation bar) configurations*/


    /* Beging the gloval menu configurations*/
    .object-menu {
        list-style: none;
    }
    /* Finish the gloval menu configurations*/


    /* Beging the left side menu configurations*/
    #left-menu {
        margin: 0px;
        padding: 0px;
        width: 50%;
        height: 60px;
        display: inline-block;
    }
    /* Finish the left side menu configurations*/


    /* Beging the right side menu configurations*/
    #right-menu {
        margin: 0px;
        padding: 0px;
        width: 50%;
        height: 60px;
        float: right;
        display: inline-flex;
    }

    /* Finish the right side menu configurations*/

    /* Beging the links configurations*/
    a {
        text-decoration: none;
    }

    /* Finish the links configurations*/

    /* Beging the image bar configurations*/
    #isc-icon {
        width: 10%;
        height: 100%;
        margin-left: 20px;
        padding: 0px;
        border-radius: 50%;
        float: left;
        background-image: url(../image/IMG_20200308_143056.jpg);
        background-size: cover;
        background-position: center;

    }



    /* Finish the image bar configurations*/

    /* Beging the name configufooterlnkrations*/

    #isc-nombre {
        padding: 0px;
        padding-top: 15px;
        margin-left: 5px;
        width: 85%;
        height: 100%;
        color: #00A7FF;
        font-family: roboto;
        font-size: 1.3em;
        font-weight: 700;
        float: right;
        transition: all 0.8s;
    }

    #isc-nombre:hover {
        color: white;
    }

    /* Finish the name configurations*/

    /* Beging the name section menu configurations*/

    #items-menu {
        display: inline-flex;
        margin-top: 0px;
        align-content: flex-end;
        padding: 0px;
        width: 20%;
        height: 60px;
        align-items: center;
        border-radius: 5px;
        transition: all 0.5s;
    }

    .npos
    {
        background-color: #d17d00;
    }
    .npos:hover
    {
        background-color: #d17d00;
    }
    .npos #link-bar
    {
        color: #ffffff;
    }
    .npos #link-bar:hover
    {
        color: #ffffff;
    }

    .others-items:hover
    {
        background-color: rgba(0, 167, 255,.5);
    }

    #link-bar
    {
        margin: 0px;
        padding: 0px;
        padding-top: 35px;
        width: 100%;
        height: 100%;
        color: #ffffff;
        font-family: roboto;
        font-size: 1em;
        font-weight: 450;
        text-align: center;
        transition: all 0.5s;
    }

    #link-bar:hover {
        color: #50c4f7;
    }

    /* Finish the name section menu configurations*/


    /* Finish the navigation bar configurations */


    .contentbgopacy
    {
        float: right;
        position: relative;
        margin: 0px;
        margin-top: 100px;
        margin-right: 70px;
        padding: 20px;
        width: 500px;
        height: 450px;
        background-color: rgba(86,90,97,.6);
        color: white;
        font-family: sans-serif;
        border-radius: 5px;
    }

    .services-s
    {
        list-style: none;
    }

    #services-start a
    {
        font-family: sans-serif;
        font-size: 1.5em;
        color: #ebab4d;
    }


    /* End the start page*/


    /*  -----------------------------------------------------------------------------------  */


    /* Beging the proyects page*/


    body#proyects
    {
        position: relative;
        margin: 0px;
        padding: 0px;
        font-size: 100%;
        background-image: url(../image/andrew-neel-cckf4TsHAuw-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }



    /* Beging the title of proyect page*/

    #titleproy
    {
        padding: 0px;
        width: 100%;
        height: 100%;
        position: relative;
        float: left;
    }

    #titleproy h1
    {
        margin-top: 7%;
        width: 100%;
        text-align: center;
        color: #0085CC;
        font-family: sans-serif;
        font-size: 3em;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* Finish the title of proyect page*/


    /* Beging the carrusel*/

    .carrusel
    {
        position: fixed;
        width: 40%;
        height: 40%;
        margin-top: 5%;
        border: 5px solid gray;
        border-radius: 5px;
        margin-left: 30%;
        margin-right: auto;
        display: none;
    }
    /* Finish the carrusel*/

    #proyectskind
    {
        position: relative;
        display: inline-block;
        width: 30%;
        height: 370px;
        margin-left: 2.3%;
    }

    .desktop
    {
        background-image: url(../image/niclas-illg-FJ5e_2f96h4-unsplash.jpg);
        background-size: cover;
        background-position:top;
        transition: all .7s;
    }

    .desktop:hover
    {
        background-image: url(../image/niclas-illg-FJ5e_2f96h4-unsplash.jpg);
        background-size: cover;
        background-position: right;
    }

    .movil
    {
        background-image: url(../image/david-monje-Oa87HmW6vds-unsplash.jpg);
        background-size: cover;
        background-position: top;
        transition: all .7s;
    }

    .movil:hover
    {
        background-image: url(../image/david-monje-Oa87HmW6vds-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }
   .web
    {
        background-image: url(../image/charles-deluvio-ZQ1TGdfXOkE-unsplash.jpg);
        background-size: cover;
        background-position: top;
        transition: all .7s;
    }

    .web:hover
    {
        background-image: url(../image/charles-deluvio-ZQ1TGdfXOkE-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }


    #proyectskind h3
    {
        color: #d17d00;
        text-align: center;
        font-family: roboto;
        font-size: 2em;
        background-color: white;
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /*  -----------------------------------------------------------------------------------  */

    /* Beging the footer*/
    footer
    {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0px;
        padding: 0px;
        width: 90%;
        height: 60px;
        position: fixed;
        bottom: 0px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.4);
    }


    #footer-container
    {
        width: 100%;
        height: 60px;
        margin: 0px;
        padding: 0px;
    }

    .content-footer
    {
        margin: 0px;
        padding: 20px;
        display: inline-flex;
    }

    #content-footer
    {
        width: 65%;
    }

    .items-footer
    {
        height: 20px;
        padding: 5px;
        margin-left: 10px;
        display: inline-block;
    }

    .items-footer a
    {
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 700;
        color: #005380;
    }

    .items-footer a:hover
    {
        font-family: sans-serif;
        font-size: 1em;
        color: #ebab4d;
    }

    #credits
    {
        width: 70%;
        text-align: center;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 600;
        color: #ffffff;
    }

    #credits-bg
    {
        width: 30%;
        margin: 0px;
        padding: 0px;
        padding-right: 10px;
        color: white;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 600;
    }

    #credits-bg span
    {
        margin-right: 5%;
        width: 95%;
        text-align: end;
    }
    #credit-unsplash
    {
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 600;
        color: #ebab4d;
    }

    #credit-unsplash:hover
    {
        color: #005380;
    }
    /* Finish the footer*/

    /* Finish the proyects page*/


    /*  -----------------------------------------------------------------------------------  */

    /* Beging the skills page*/

    /*  Beging the Body configurations  */
    body#skills                                                                     /* verify the reference of background image credits  */
    {
        margin: 0px;
        padding: 0px;
        font-size: 100%;
        background-image: url(../image/javier-quesada-qYfwGVNJqSA-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*  Finish the Body configurations  */

    /**/

    /*  Beging the container skills  */
    .body-skills
    {
        width: 70%;
        height: 78%;
        margin-top: 6%;
        margin-left: 15%;
        margin-right: auto;
        position: absolute;
        background-color: rgba(86,90,97,.7);
        border-radius: 10px;
    }

     #titleskills
    {
        width: 100%;
        position: absolute;
        text-align: center;
    }

    #titleskills h1
    {
        margin-top: 3%;
        font-family: sans-serif;
        font-size: 2.5em;
        color: #00A7FF;
        font-style: normal;
        font-size: 3em;
    }


    .box-button-skills
    {
        width: 45%;
        height: 8%;
        margin: 0 auto;
        margin-top: 12%;
        padding: 0px;
        position: relative;
    }

    .btn-skills
    {
        position: relative;
        display: inline-block;
        width: 49%;
        height: 100%;
    }



    .btn-skills a
    {
        width: 100%;
        height: 75%;
        padding-top: 5%;
        padding-bottom: 0px;
        margin: 0px;
        display: block;
        font-family: roboto;
        font-size: 1.2em;
        font-weight: 600;
        text-align: center;
        color: white;
    }

    #lnk-btn-hard
    {
        background-color: #0085CC;
        border-radius: 5px;
        transition: all 0.8s;
    }

    #lnk-btn-hard:hover
    {
        background-color: #8f8f8f;
        color: #005380;
    }

    #lnk-btn-hard:focus
    {
        background-color: #ffffff;
        color: #005380;
    }
    #lnk-btn-soft
    {
        background-color: #ebab4d;
        border-radius: 5px;
        transition: all 0.8s;
    }

    #lnk-btn-soft:hover
    {
        background-color: #8f8f8f;
        color: #ffce87;
    }

    #lnk-btn-soft:focus
    {
        background-color: #ffffff;
        color: #005380;
    }

    .box-skills
    {
        width: 80%;
        height: 320px;
        padding: 15px;
        margin: 0 auto;
        margin-top: 1%;
        border-radius: 5px;
    }

    .title-hs-skills
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .skills-container
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-left: 2%;
        display: inline-block;
        list-style: none;
    }

    #hard-skills-container
    {
        display: none;
    }
    #soft-skills-container
    {
    }

    .skills
    {
        float: right;
        width: 50%;
        height: 100%;
        margin-right: 3%;
        border: 2px solid #ffce87;
        border-radius: 5px;
    }

   .h-skills
    {
        margin-top: 7%;
        list-style: none;
    }

    .s-skills
    {
        margin-top: 7%;
        list-style: none;
        padding: 0px;
        margin: 0;
    }

    .h-skills li
    {
        display: block;
        padding: 5%;
        margin-left: 5%;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 500;
        color: #ffce87;
    }

    .s-skills li
    {
        display: block;
        padding: 5%;
        margin-left: 5%;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 500;
        color: #ffce87;
    }

    #skills-h
    {
        color: #ffffff;
    }


    #skills-s
    {
        color: #ffffff;
    }

    /* Beging the Hard skills subskills */

    #so
    {
        display: none;
    }

    #progleng
    {
        display: none;
    }

    #db
    {
        display: none;
    }

    #fandl
    {
        display: none;
    }

    #ide
    {
        display: none;
    }

    #vc
    {
        display: none;
    }

    #leng
    {
        display: none;
    }

    #prog
    {
        display: none;
    }
    /* Finish the Hard skills subskills */



    /* Beging the Soft skills subskills */

    #comunication
    {
        display: none;
    }

    #time-manage
    {
        display: none;
    }

    #Teamwork
    {
        display:  none;
    }

    #Adaptability
    {
        display: none;
    }

    #Creativity
    {
        display: none;
    }

    #Work-ethic
    {
        display: ;
    }

    #Leadership
    {
        display: none;
    }

    #Problem
    {
        display: none;
    }

    /* Finish the Soft skills subskills */



    #h-subskills
    {
        width: 30%;
        height: 15%;
        margin: 0px auto;
        margin-left: 7%;
        display: inline-block;   /* a qui me quedé */
    }

    #s-subskills
    {
        width: 30%;
        height: 15%;
        margin: 0px auto;
        margin-left: 7%;
        display: inline-block;   /* a qui me quedé */
    }

    /*  Finish the container skills  */


    /* Finish the skills page*/

    /*  -----------------------------------------------------------------------------------  */


    /* Beging the about page*/

    /*  Beging the global configuration of the body about page  */
    body#about
    {
        margin: 0px;
        padding: 0px;
        background-image: url(../image/mirasbek-nurseit-dYp4_IomzdI-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 100%;
    }

    .about-information
    {
        width: 100%;
        margin-top: 14%;
        position: absolute;
        padding-top: 3%;
        padding-bottom: 3%;
        background-color: rgba(86,90,97,.7);
        display: block;
    }
    /*  Finish the global configuration of the body about page  */


    #title-about
    {
        margin-top: 6%;
        width: 100%;
        text-align: center;
        position: absolute;
        color: #0085CC;
        font-family: sans-serif;
        font-size: 3em;
        background-color: rgba(255,255,255,.7);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .about-inf
    {
        display: inline-block;
        width: 27%;
        height: 300px;
        background-color: rgba(255,255,255,.7);
        margin-left: 2%;
        margin-right: 2%;
        border: 5px solid #d17d00;
        border-radius: 10px;
    }

    #personal-inf
    {
        float: left;
        margin: 0;
        margin-left: 3%;
    }

    #titname
    {
        font-family: sans-serif;
        font-size: 2em;
        color: #d17d00;
        text-align: center;
    }

    #information
    {
        display: block;
        margin: 15px;
        height: 20px;
        color: #0085CC;
    }

    #txtname
    {
        width: 25%;
        vertical-align: top;
    }

    #information h3
    {
        display: inline-block;
        font-family: sans-serif;
        font-size: 1em;
    }

    #name
    {
        width: 73%;
        text-align: justify;
    }



    #school
    {
        margin-left: 7%;
    }



    #experience
    {
        float: right;
        margin: 0;
        margin-right: 3%;
    }

    /* Finish the about page*/


        /*  -----------------------------------------------------------------------------------  */


    /* Beging the contact page*/

    body#contact
    {
        margin: 0px;
        padding: 0px;
        background-image: url(../image/andrew-neel-TTPMpLl_2lc-unsplash.jpg);
        background-size: cover;
        font-size: 100%;
    }


    #tit-contact
    {
        margin-top: 7%;
        width: 100%;
        text-align: center;
        position: absolute;
        color: #0085CC;
        font-family: sans-serif;
        font-size: 3em;
        background-color: rgba(255,255,255,.7);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #subt-contact
    {
        margin-top: 15%;
        width: 100%;
        position: fixed;
    }

     #info-contact
    {
        width: 80%;
        height: 20%;
        background-color: #d17d00;
    }

    #subt-contact h2
    {
        color: white;
        font-family: sans-serif;
        font-size: 1.5em;
        text-align-last: center;
    }

    #contact-data
    {
        width: 80%;
        height: 35%;
        background-color: rgba(0, 83, 128,.8);
        margin: 10%;
        margin-top: 25%;
        position: absolute;
    }

    .phone-box
    {
        float: left;
        width: 35%;
    }

    .mail-box
    {
        float: right;
    }

    #data
    {
        display: inline-block;
        padding: 2%;
        margin-top: 2%;
    }

    .information-cont
    {
        display: inline;
    }

    #data #pe-tit
    {
        font-family: sans-serif;
        font-size: 1.5em;
        font-weight: 600;
        color: #d17d00;
    }

    #data #pe-data
    {
        color: white;
        font-size: 1.5em;
    }

    #social-icons
    {
        background-color: white;
        margin-top: 10%;
        height: 60%
    }

   .socialmedia
    {
        margin-left: 10%;
    }

    .socialmedia li
    {
        margin-top: 3%;
        display: inline-block;
        width: 250px;;
    }

    .socialmedia li a
    {
        font-family: sans-serif;
        font-size: 1.5em;
        font-weight: 600;
        color: #005380;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 10px;
        position: absolute;
        transition: all 0.6s;

    /* Finish the contact page*/
    }

    .socialmedia li a:hover
    {
        background-color: rgba(0,0,0,.6);
        border-radius: 15px;
    }

    .socialmedia li a img
    {
        margin-top: 10px;
        padding-right: 20px;
    }


    /*Finish the contact page*/


        /*  -----------------------------------------------------------------------------------  */

    /* Finish the min-width:1200px configuration*/
}
